<form class="form" id="form">

	<img class="img" src="https://picsum.photos/500/500" alt="image">

	<h1 class="h1">Реєстрація</h1>


	<div class="field">
		<label class="label" for="username">name</label>
		<input class="input" type="text" name="username" id="username" required>
		<span class="copy-button">copy</span>

	</div>

	<div class="field">
		<label class="label" for="email">email</label>
		<input class="input" type="email" name="email" id="email" required>
	</div>

	<div class="field">
		<label class="label" for="age">age</label>
		<input class="input" type="number" name="age" id="age" required>
		<span class="change-age" operator="+" value="10">+10</span>
		<span class="change-age" operator="-" value="10">-10</span>
	</div>

	<div class="field">
		<label class="label" for="role">choose role</label>
		<select class="input" name="role" id="role" required>
			<option value="" disabled selected>role</option>
			<option value="user">user</option>
			<option value="admin">admin</option>
		</select>
	</div>

	<div class="field field-checkbox">
		<input class="input" type="checkbox" name="agree" id="agree" required>
		<label class="label" for="agree">receive message in email</label>
	</div>

	<button class="button" type="button">Зареєструватись</button>

</form>